{% block sidebar %}
{% load static %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About The Author </h5>
    <div class="card-body">
        <p class="card-text">Uduak-obong Ofonmbuk Ekongetor is a graduate of the University of Uyo. A software developer and a web scraper who has worked with alot of tech. startups and have extensive knowledge in programming </p>
        <a class="btn btn-danger">Click here</a>
    </div>
</div>
</div>

{% endblock sidebar %}